<meta charset="UTF-8">
<title><%=title%></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
  body { padding-top:50px; }
</style>


<script>
  $(function(){
    $('#table1').hide();
  });
  $(function (){
    $('#showTable').click(function(){
      $('#table1').show(2000);
    });
  })
  $('.UpvoteButton').click(function () {
    $(this).toggleClass('on');
    $('.DownvoteButton').removeClass('on');
  });

  $('.DownvoteButton').click(function () {
    $(this).toggleClass('on');
    $('.UpvoteButton').removeClass('on');
  });
</script>