<html>
    <p> hello </p>
    <body>
    <form action="/otp" method="post">
    <section>
        <label>type your otp</label>
        <input type="text" name="otp" placeholder="name">
        </section>    
    <button type="submit"> submit </button>
</form>
    </body>
    </html>