<html>
    <p> hello </p>
    <body>
    <form action="/registration" method="post">
    <section>
        <label>select a service</label>
        <input type="text" name="service" placeholder="name">
        </section>
    <section>
        <label>last name</label>
        <input type="text" name="firstname" placeholder="name">
        </section>
        <label>first name</label>
        <input type="text" name="lastname" placeholder="name">
        </section>
    <section>
        <label>Email</label>
        <input type="text" name="email" placeholder="name">
        </section>
    <section>
        <label>password</label>
        <input type="text" name="password" placeholder="name">
        </section>
        
    <button type="submit"> submit </button>
</form>
    </body>
    </html>